$white: #FFFFFF;
$black: #000000;

$text-light-gray: #8a8787;
$text-blue: #98b6e0;

$background-gray: #807c7c;
$background-light-blue: #EDEEF0;

$box-shadow: 1px 4px 20px 6px rgba(188, 188, 188, 0.25);
